description = "(Not using)"

[viewBag]
==
<section class="footer-action">
    <div class="grid-x align-stretch">
        <div class="cell show-for-xlarge xlarge-1"></div>
        <div class="cell small-12 medium-6 xlarge-5">
            <h2>Connect with us?</h2>
            <a href="https://twitter.com/acentury2" traget="_blank" rel="nofollow"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="https://www.linkedin.com/company/acentury-inc." traget="_blank" rel="nofollow"><i class="fab fa-linkedin-in fa-2x"></i></a>
        </div>
        <div class="cell small-12 medium-6 large-5">
            <h2>Interested?</h2><a class="button white large" href="https://www.synmatrix360.com/">Join our community</a>
        </div>
        <div class="cell show-for-xlarge xlarge-1"></div>
    </div>    
</section>