[viewBag]
==
<h2 class="text-center">Subscribe to Our Newsletter</h1>
<p class="h5 pb2">Stay on top of the wireless and wireline communications industry. Insights, news, and innovations from industry experts. Delivered monthly, straight to your inbox.</p>


<div id="mc_embed_signup" class="pt1 pb2" style="max-width: 300px;margin:0 auto;">
<form action="https://acentury.us17.list-manage.com/subscribe/post?u=74a6898c1ce8105f6775e31ed&amp;id=0594179b7b&SIGNUP=Known" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll">
<div class="mc-field-group">
<label for="mce-EMAIL">Email Address</label>
<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
<label for="mce-FNAME">First Name</label>
<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
<label for="mce-COMPANY">Company</label>
<input type="text" value="" name="COMPANY" class="" id="mce-COMPANY">
</div>
<div id="mce-responses" class="clear">
<div class="response" id="mce-error-response" style="display:none"></div>
<div class="response" id="mce-success-response" style="display:none"></div>
</div> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_74a6898c1ce8105f6775e31ed_0594179b7b" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button expanded mt2" style="font-size:1rem;letter-spacing:1px"></div>
</div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[3]='COMPANY';ftypes[3]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[4]='MMERGE4';ftypes[4]='text';fnames[5]='MMERGE5';ftypes[5]='number';fnames[6]='MMERGE6';ftypes[6]='text';fnames[7]='SIGNUP';ftypes[7]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>