{% for item in items if not item.viewBag.isHidden %}
    <div class="footer-menu-categories">
        {% if item.url %}
            <a class="footer-menu-sky" href="{{ item.url }}" {{ item.viewBag.isExternal ? 'target="_blank"' }}>
                {{ item.title }}
            </a>
        {% else %}
            <a class="footer-category" href='#'>{{ item.title }}</a>
        {% endif %}

        {% if item.items %}
            <ul class="footer-menu-items footer-menu-font">{% partial __SELF__ ~ "::items" items=item.items %}</ul>
        {% endif %}
    </div>
{% endfor %}