description = "Contact Form"

[emptyForm contactForm]
messages_success = "Your form was successfully submitted."
messages_errors = "There were errors with your submission."
mail_enabled = 1
mail_subject = "acentury.ca Contact Form Submission"
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"

[viewBag]
==
<div class="grid-x grid-margin-x align-center pt2 contact-form">
    <div class="cell small-12 large-9 xlarge-7">
        {% content 'contact/form.htm' %}
        {% component 'contactForm' %}
    </div>
</div>