[viewBag]
==
<section class="text-center pt4 pb4 grid-container">
    <div class="grid-container">
    	<p><a class="button" style="font-size:1.6em"  href="/lamta/signup">Get Started Today</a> &nbsp;&nbsp;&nbsp;<a class="button" style="font-size:1.6em"  href="https://www.acentury.ca/storage/app/media/LAMTA%20Booklet%20Sept%202021.pdf">View Brochure</a></p>
    	<font size="4">Have questions?
    	<br><b><a href="/contact/">Contact an expert <span>&#9654;</span></a></b></font>
    </div>
</section>