description = "Logo category : Company Logos"

[viewBag]

[logos logoCarousel]
title = "You're in good company"
carousel = 7
==
<section class="block-logos">
    <div class="grid-container">
        <header><h3>Join top companies and organizations who trust Acentury products</h3></header>
        <p>
            Acentury's expert solutions have helped top teams globally
        </p>
    </div>
    
    {% component 'logoCarousel' %}
    
    <div class="mt2"><a class="but-more" href="http://www.google.ca/">Learn More</a></div>
</section>